@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text--main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== Container ===== */
.main-container {
  align-items: center;
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.content-wrap {
  background-color: var(--bg-main);
  max-width: 1440px;
  width: 1440px;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 170px 0 70px;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
  z-index: 2;
}

.navbar-link {
  position: relative;
  color: var(--text-menu);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 8px;
  transition: color 0.3s ease;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #C49F57;
  /* dorado */
  transition: width 0.3s ease;
}

/* Hover */
.navbar-link:hover {
  color: #C49F57;
  font-weight: 700;
}

.navbar-link:hover::after {
  width: 100%;
}

/* Active */
.navbar-link.active {
  color: #C49F57;
  font-weight: 700;
}

.navbar-link.active::after {
  width: 100%;
}

.navbar-logo {
  display: flex;
  z-index: 1;
}

/* ===== HOME PAGE - Section / Header ===== */

.hero-home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 80px 30px 50px;
}

.mid-bg {
  background: linear-gradient(69deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
  width: 100%;
  height: 550px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0px, -100px);
  z-index: 0;
}

.hero-image {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
}

.hero-image .main-hero-image {
  height: auto;
  width: 97%;
}

.hero-image .hero-e1,
.hero-image .hero-e2,
.hero-image .hero-e3,
.hero-image .hero-e4,
.hero-image .hero-e5 {
  position: absolute;
}

.hero-image .hero-e1 {
  bottom: 0;
  left: 0;
  transform: translate(115px, 20px);
  width: 202px;
}

.hero-image .hero-e2 {
  bottom: 0;
  left: 0;
  transform: translate(-132px, 75px);
  width: 242px;
}

.hero-image .hero-e3 {
  right: 0;
  top: 0;
  transform: translate(-8px, -176px);
  width: 100px;
}

.hero-image .hero-e4 {
  bottom: 0;
  right: 0;
  transform: translate(48px, 95px);
  width: 260px;
}

.hero-image .hero-e5 {
  bottom: 0;
  transform: translate(24px, 50px);
  width: 141px;
}

.hero-text {
  padding-top: 25px;
  padding-left: 55px;
  width: 40%;
  z-index: 2;
}

.hero-text h1 {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 800;
}

.hero-text p {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 24px;
  line-height: 150%;
  width: 550px;
}

.hero-buttons {
  align-items: center;
  display: flex;
  gap: 85px;
  justify-content: center;
}

.btn-primary {
  border-radius: 35.5px;
  border: none;
  background-color: var(--color-main);
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-main);
  line-height: 20px;
  font-weight: 700;
}

.hero-button {
  font-size: 24px;
  padding: 22px 95px;
}

.store-locator__button {
  font-size: 20px;
  padding: 19px 39px;
}

/* ===== HOME PAGE - Section / Popular Choices ===== */
.popular-choices {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px 40px;
  text-align: center;
}

.popular-choices__title {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 45px;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.popular-choices__slider .swiper-slide {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.popular-choices__slider .swiper-slide img {
  border-radius: 30px;
  transition: transform 0.3s ease;
  width: 100%;
}

.popular-choices__slider .swiper-slide-active .popular-choices__button {
  bottom: 60px;
}

.popular-choices__slider .swiper-slide-active img {
  transform: scale(0.90);
}

.popular-choices__slider .swiper-slide-prev img,
.popular-choices__slider .swiper-slide-next img {
  transform: scale(0.75);
}

.popular-choices .swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.popular-choices__slider .swiper-pagination {
  bottom: -4px !important;
}

.swiper-pagination span {
  background-color: var(--color-secondary);
  height: 14px;
  width: 14px;
}

.slide-content {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide-content img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.popular-choices__button {
  bottom: 108px;
  font-size: 17px;
  font-weight: bold;
  left: 50%;
  padding: 13px 28px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.55s cubic-bezier(.22, .61, .36, 1);
}

/* ===== HOME PAGE - Section / Find Store ===== */
.store-locator {
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  margin: 55px 70px;
  padding: 75px 40px;
}

.store-locator__content {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 90px;
}

.store-locator__content h2 {
  color: var(--text-secondary);
  font-size: 46px;
  font-family: var(--font-main);
  font-weight: 600;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.store-locator__content p {
  font-size: 18px;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--text--main);
  line-height: 177.3%;
  margin: 30px 0px;
}


/* ===== FOOTER ===== */
.footer {
  padding: 20px 70px 50px;
}

.footer-title {
  color: var(--text--main);
  font-size: 20px;
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 24px;
}

.footer ul li img {
  height: 27px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.social-networks {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.footer-container a {
  color: var(--text--main);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

/* ===== HOME PAGE - Section / Start your Franchise ===== */

.start-franchise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0 80px;
}

.start-franchise__image-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
}

.start-franchise__image {
  width: 636px;
  height: 636px;
  margin-right: 8px;
}

.start-franchise__content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 80px;
}

.start-franchise__title {
  color: var(--text--main);
  font-family: var(--font-main);
  font-size: 46px;
  font-weight: 600;
  width: 70%;
  margin-bottom: 0;
  margin-top: 0;
}

.start-franchise__description {
  color: #919191;
  line-height: 177.3%;
  font-family: var(--font-main);
  font-size: 18px;
  width: 95%;
  font-weight: 400;
}

.start-franchise__buttons {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.start-franchise__button {
  background-color: var(--color-main);
  width: 204px;
  height: 60px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 20px;
}

/* ===== FRANCHISE PAGE - Section / Header ===== */

.hero-franchise {
  min-height: 100vh;
  background-image: url("../images/franchise/franchise-header.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-franchise h1 {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 800;
  line-height: 87%;
  width: 50%;
  text-align: center;
  margin: 0;
}

.hero-franchise p {
  color: var(--text--main);
  font-family: var(--font-main);
  line-height: 150%;
  font-size: 24px;
  text-align: center;
  width: 50%;
  margin: 80px 0;
}

.hero-button__franchise {
  background-color: var(--color-main);
  font-size: 24px;
  padding: 21px 50px;
  font-weight: 600;
}

.franchise-buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

/* ===== FRANCHISE PAGE - Section / Business Models ===== */

.business-models {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 90px 50px;
}

.business-models__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
}

.business-models__card {
  background-color: #F1EFE5;
  border-radius: 15px;
  border: 1px solid #B8B8B8;
}

.business-models__title {
  font-size: 60px;
  font-family: var(--font-main);
  font-weight: 600;
  line-height: 87%;
  color: var(--color-secondary);
  margin: 0;
}

.business-models__description {
  line-height: 150%;
  font-size: 24px;
  font-family: var(--font-main);
  color: var(--text--main);
  text-align: center;
  width: 70%;
  margin: 50px 0 65px 0;
}

.business-models__card-content {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 72px 25px;
}

.business-models__card-title {
  font-size: 24px;
  font-family: var(--font-main);
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0;
  color: var(--text--main);
}

.business-models__card-text {
  font-size: 17px;
  line-height: 140%;
  color: var(--text--main);
  font-weight: 400;
  font-family: var(--font-main);
  margin: 25px 0;
}

.business-models__card-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.business-models__card-item {
  line-height: 100%;
  font-weight: 600;
  color: #919191;
  font-size: 17px;
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
}

.coffee-investment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px 0 120px;
}

.coffee-investment__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.coffee-investment__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 36px 40px;
  background-color: aqua;
  border-radius: 15px;
  border: 1px solid #B8B8B8;
  background-color: #F1EFE5;
}

.coffee-investment__title {
  color: #A9A8A6;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-main);
  margin: 0px 0px 22px 0px;
}

.coffee-investment__price {
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  color: #B7AA8C;
  margin: 0px;
}

.ready-to-start {
  background-color: #F1EFE5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}

.ready-to-start-buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}