@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text--main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== Container ===== */
.main-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 27px;
}

.content-wrap {
  width: 1440px;
  max-width: 1440px;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 145px 0 80px;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-link {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-menu);
  text-decoration: none;
}

.navbar-logo {
  display: flex;
}

/* ===== HOME PAGE - Section / Popular Choices ===== */
.popular-choice-container {
  padding: 0 60px;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-choice-title {
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 600;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide {
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.mySwiper .swiper-slide img {
  width: 100%;
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.mySwiper .swiper-slide-active .slide-button {
  bottom: 60px;
}

.mySwiper .swiper-slide-active img {
  transform: scale(0.90);
}

.mySwiper .swiper-slide-prev img,
.mySwiper .swiper-slide-next img {
  transform: scale(0.75);
}

.popular-choice-container .swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mySwiper .swiper-pagination {
  bottom: -4px !important;
}

.swiper-pagination span {
  background-color: var(--color-secondary);
  width: 14px;
  height: 14px;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  position: absolute;
  bottom: 108px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 28px;
  background: var(--color-main);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-main);
  color: var(--color-white);
  font-size: 17px;
  transition: all 0.5s cubic-bezier(.4, 0, .2, 1);
}