@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text--main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== Container ===== */
.main-container {
  align-items: center;
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.content-wrap {
  max-width: 1440px;
  width: 1440px;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 170px 0 70px;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-link {
  color: var(--text-menu);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-logo {
  display: flex;
}

/* ===== HOME PAGE - Section / Header ===== */

.hero-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 80px 85px 50px;
}

.hero-image {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
}

.hero-image .main-hero-image {
  height: auto;
  width: 97%;
}

.hero-image .hero-e1,
.hero-image .hero-e2,
.hero-image .hero-e3,
.hero-image .hero-e4,
.hero-image .hero-e5 {
  position: absolute;
}

.hero-image .hero-e1 {
  bottom: 0;
  left: 0;
  transform: translate(115px, 20px);
  width: 202px;
}

.hero-image .hero-e2 {
  bottom: 0;
  left: 0;
  transform: translate(-132px, 75px);
  width: 242px;
}

.hero-image .hero-e3 {
  right: 0;
  top: 0;
  transform: translate(-8px, -176px);
  width: 100px;
}

.hero-image .hero-e4 {
  bottom: 0;
  right: 0;
  transform: translate(48px, 95px);
  width: 260px;
}

.hero-image .hero-e5 {
  bottom: 0;
  transform: translate(24px, 50px);
  width: 141px;
}

.hero-text {
  padding-top: 25px;
  padding-left: 55px;
  width: 50%;
}

.hero-text h1 {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 800;
}

.hero-text p {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 24px;
  line-height: 150%;
  width: 550px;
}

.hero-buttons {
  align-items: center;
  display: flex;
  gap: 85px;
  justify-content: center;
}

.hero-buttons .btn-primary {
  border-radius: 35.5px;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 24px;
  font-family: var(--font-main);
  font-weight: bold;
  padding: 22px 95px;
  line-height: 20px;
}

/* ===== HOME PAGE - Section / Popular Choices ===== */
.popular-choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 65px 60px;
  text-align: center;
}

.popular-choice-title {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 35px;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.mySwiper .swiper-slide img {
  border-radius: 30px;
  transition: transform 0.3s ease;
  width: 100%;
}

.mySwiper .swiper-slide-active .slide-button {
  bottom: 60px;
}

.mySwiper .swiper-slide-active img {
  transform: scale(0.90);
}

.mySwiper .swiper-slide-prev img,
.mySwiper .swiper-slide-next img {
  transform: scale(0.75);
}

.popular-choice-container .swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mySwiper .swiper-pagination {
  bottom: -4px !important;
}

.swiper-pagination span {
  background-color: var(--color-secondary);
  height: 14px;
  width: 14px;
}

.slide-content {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide-content img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.slide-button {
  background: var(--color-main);
  border: none;
  border-radius: 50px;
  bottom: 108px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-main);
  font-size: 17px;
  font-weight: bold;
  left: 50%;
  padding: 13px 28px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(.4, 0, .2, 1);
}